@font-face {
    font-family: inconsolata;
    src: url(fonts/Inconsolata-Regular.ttf);
}

body {
    font: 13px Helvetica, arial, freesans, sans-serif;
    line-height: 1.4;
    min-width: 1020px;
    background-color: #444;
    margin: 0 0 50px 0;
    padding: 0;
}

#snap {
    position: fixed;
    top: 0; left: 0;
}
#attContainer {
    display: none;
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#attribution {
    display: none;
    font-family: inconsolata;
    position: absolute;
    top: 200px; 
    left: 200px;
    width: 526px;
    margin-left: -283px;
    margin-top: -313px;
    height: 466px;
    padding: 32px 31px 42px 31px;
    border-radius: 10px;
    color: #858585;
    background-color: #252526;
    z-index: 2;
    top: 50%;
    left: 50%;
    box-shadow: 0px 10px 20px #222;
}
#attribution p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

h2 {
    color: white;
    font-size: 24px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 40px;
}

a, a:visited {
    color: #1877F2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.big {
    font-size: 24px;
    line-height: 33px;
}

#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 265px;
    padding: 5px 20px;
    background-color: #252526;
    color: #858585;
    border-radius: 10px;

}

fieldset {
    margin: 0;
    padding: 10px 0 10px 0;
    border: none;
}
label {
    margin-top: 5px;
    position: static;
    float: left;
    clear: left;
}

label input {
    border: 1px solid red;
    float: left;
    clear: none;
}


label input[type=text] {
    border: 1px solid black;
    background-color: #2D2D2D;
    color: #858585;
    padding: 5px;
    margin-top: 0px 0 5px 0;
}

label input[type=text]:focus {
    background-color: #3d3d3d;
    color: #959595;
}

.lbltxt {
    float: left;
    width: 90px;
    clear: none;
    margin-top: 3px;

}
.inlineLbl {
    width: auto;
    margin-right: 10px;
    float: left;
    clear: none;
}

/* 
Slider ----------------->
*/

input[type=range] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /* width: 100%; */
    height: 5px; /* Specified height */
    background: #616161; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-width: 0;
    margin-top: 5px;
    margin-right: 10px;
}



/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #999; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

button {
    background-color: #3C3C3C;
    border-width: 0;
    color: #858585;
    padding: 5px 10px;
    margin: 10px 0;
}

button:hover {
    background-color: #4c4c4c;
    cursor: pointer;
}

input[type=color] {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    margin-top: 7px;
    margin-left: 5px;
    height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
select.dropdown{
	display: block;
    background-color: #3C3C3C;
    border-width: 0;
    color: #858585;
    font-size: 13px;
    padding: 5px 10px;
	box-sizing: border-box;
}
select.dropdown:hover {
    background-color: #4c4c4c;
}

/* File input --------------------- */

div.boxcontainer {
    border: 1px solid #333; 
    padding: 10px;
    margin-top: -10px;
}

input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label.filelabel  {
    background-color: #3C3C3C;
    border-width: 0;
    color: #858585;
    padding: 5px 10px;
    margin: 0;
    float: right;
}

label.filelabel:hover {
    background-color: #4c4c4c;
    cursor: pointer;
}

#font-name {
    display:inline-block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}